<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/tailwindcss@1.8.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 text-gray-700 text-lg font-mono">
    <div class="container max-w-2xl mx-auto py-4">
        <ul>
            {{ nav:main_navigation }}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {{ /nav:main_navigation }}
        </ul>
    </div>
    <div class="container max-w-2xl mx-auto py-8">
        {{ template_content }}
    </div>
</body>
</html>